<form action="/robots" method="post">
  <p>Enter a new Robot:</p>
  <h3> Name </h3>
  <input type="text" name="robot[name]" /><br/>
  <h3> Department </h3>
  <input type="text" name="robot[department]" /><br/>
  <h3> City </h3>
  <input type="text" name="robot[city]" /><br/>
  <h3> State </h3>
  <input type="text" name="robot[state]" /><br/>
  <input type="submit"/>
</form>
